<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text">Summer Treats</h1>
            <br>
            <img src="" alt="">

            <h3 class="text">Eat Those Yummy Sweet Summer Treats!</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <ul>
                {{#each treats}}
                {{#unless devoured}}
                    <p class="notEaten">
                        {{!-- {{treat_name}} --}}
                        {{this.treat_name}}
                        <button  id="devbtn" data-id="{{id}}" data-newsleep="{{devoured}}">
                            Devour Me!</button>
                    </p>
                    {{/unless}}
                {{/each}}
            </ul>
            
        </div>

        <div class="col-6">
            <ul>
                {{#each treats}}
                {{#if devoured}}
                <p class="eaten">
                {{this.treat_name}}
                </p>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3 class="text">Enter a Treat to Eat</h3>
            <form class="create-form">
            
                <div class="form-group">
                    <label for="ca">Treat Name:</label>
                    <input type="text" id="treatName" name="name">
                </div>
            
                <button type="submit">Add Treat</button>
            </form>
        </div>
    </div>
</div>